{% extends "base.html" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ url_for('views.themes', path='css/challenge-board.css') }}">
{% endblock %}

{% block content %}
<div class="jumbotron" style="background-image: url('themes/core/static/img/p4.png');">
	<div class="container h-100 d-flex">
		<img src="themes/core/static/img/ncp-badge.png" alt="" style="margin-top: auto;" width="180px">
	</div>
</div>

<div class="modal fade" id="challenge-window" tabindex="-1" role="dialog">
</div>

<div class="container">

	<div class="row mb-5">
		<div class="col-md-12">
			<div>
				<nav class="navbar-expand-lg navbar-light" style="background-color: none!important;">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					  <div class="navbar-nav">
						{% if Configs.account_visibility != 'admins' %}
							<a class="btn border-0 text-light btn-primary nav-item mr-2 custom-nav"  href="{{ url_for('users.listing') }}">Users</a>
							{% if Configs.user_mode == 'teams' %}
								<a class="btn border-0 text-light btn-primary nav-item mr-2 custom-nav"href="{{ url_for('teams.listing') }}">Teams</a>
							{% endif %}
						{% endif %}
						{% if Configs.score_visibility != 'admins' %}
							<a class="btn border-0 text-light btn-primary nav-item mr-2 custom-nav" href="{{ url_for('scoreboard.listing') }}">Scoreboard</a>
						{% endif %}
						<a class="btn border-0 text-light btn-primary nav-item mr-2 custom-nav custom-nav-active" href="{{ url_for('challenges.listing') }}">Challenges</a>
					  </div>
					</div>
				</nav>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{% include "components/errors.html" %}
		</div>
	</div>

	<div id='challenges-board'>
		<div class="min-vh-50 d-flex align-items-center">
			<div class="text-center w-100">
				<i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', path='js/pages/challenges.js') }}"></script>
{% endblock %}
